a {
    color: #f00;
    /* color: #6741d9 (purple) */ 
}

h2 {
    font-family: IBM Plex Serif;
}

h1 {
    font-family: IBM Plex Serif;    
}

::selection {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body {
    font-family: "IBM Plex Sans Thai Looped"; 
    font-size: large;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.blog-post {
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Optional: maximum width */
    margin: 10px; /* Optional: margin around the blog post */
    padding: 10px;
}



.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Ensures images wrap on smaller screens */
}
.image1 {
    flex: 1 1 70%; /* Adjust the width as needed */
    margin: 10px; /* Space between images */
}
.image2 {
    flex: 1 1 20%; /* Adjust the width as needed */
    margin: 10px; /* Space between images */
}
.image1 img {
    width: 100%;
    height: auto;
}
.image2 img {
    width: 100%;
    height: auto;
}

.quote {
    font-style: italic;
    color: #555; /* Adjust the color as needed */
    border-left: 4px solid #ccc; /* Left border for the quote */
    padding-left: 10px; /* Space between the border and the text */
    margin: 20px 0; /* Space above and below the quote */
    background-color: #f9f9f9; /* Optional: background color for the quote */
    padding: 10px 20px; /* Padding inside the quote */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: shadow for a nice effect */
}
